# venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vs code
.vscode

# project files
chromedriver_win32
chromeprofile
/novels

*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
